.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding: 0px 10px;
  height: 100px;
  border-bottom: 1px solid whitesmoke;
}

.title {
  flex-grow: 2;
  font-family: "nyt-karnakcondensed";
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.01em;
  text-align: center;
  left: 0;
  right: 0;
  pointer-events: none;
  position: relative;
}

.button {
  text-transform: uppercase;
  padding: 20px;
  border-radius: 5px;
  border: none;
  height: 60px;
  margin: 3px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background: #888;
}
